.formContainer{
    width: 50%;
    justify-self: center;
    margin-top: 5%;
}

.form-group{
    margin-bottom: 20px !important;
}

#successMessage{
    width: 50%;
    justify-self: center;
    text-align: center;
    margin-top: 20px;
}

#display{
    display: flex;
    justify-self: center;
    margin-top: 5%;
}

#data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 60%;
    justify-self: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card-title{
    color: #198754 !important;
}
